<mat-toolbar>
    <img src="/assets/logo.png" alt="logo"/>
    <span>Kitty Finder</span>
</mat-toolbar>
<div class="filters">

  <mat-form-field appearance="fill">
    <mat-label>Breed</mat-label>
    <mat-select (selectionChange)="onChange($event)">
      <mat-option [value]="'All'">All</mat-option>
      <mat-option
        *ngFor="let breed of cats"
        [value]="breed.name"
      >{{ breed.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Amount</mat-label>

    <mat-select (selectionChange)="selected($event)">
      <mat-option
        *ngFor="let num of amount"
        [value]="num"
      >{{ num }}</mat-option>
    </mat-select>

  </mat-form-field>
</div>
<div class="grid" >

  <div
    *ngFor="let cat of catFiltered | slice:0:selectedAmount"
  >
    <cat-card
      [cats]="cat"
    ></cat-card>
  </div>

</div>
<mat-toolbar class="footer">
  <span class='rights'> All rights reserved 2022 (c)</span>
  <img src="/assets/logo.png" alt="logo"/>
</mat-toolbar>
